<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>AAAccueil - {% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('images/faaavicon.png') }}" />

        <!-- ------------------------------- -->
        <!-- ------------ jQuery ----------- -->
        <!-- ------------------------------- -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

        <!-- ------------------------------- -->
        <!-- ---------- Bootstrap ---------- -->
        <!-- ------------------------------- -->
        <!-- ------ depends on jQuery ------ -->
        <!-- ------------------------------- -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- ------------------------------- -->
        <!-- --------- Underscore ---------- -->
        <!-- ------------------------------- -->
        <script type="text/javascript" src="{{ asset('libraries/calendar/depends/underscore-min.js') }}"></script>

        <!-- ------------------------------- -->
        <!-- ----------- Moment ------------ -->
        <!-- ------------------------------- -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>

        <!-- ------------------------------- -->
        <!-- ---------- Calendar ----------- -->
        <!-- ------------------------------- -->
        <!-- ---- depends on Underscore ---- -->
        <!-- ------ depends on Moment ------ -->
        <!-- ------------------------------- -->
        <script type="text/javascript" src="{{ asset('libraries/calendar/js/language/fr-FR.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('libraries/calendar/calendar/calendar.min.css') }}">
        <script type="text/javascript" src="{{ asset('libraries/calendar/calendar/calendar.js') }}"></script>

        <!-- ------------------------------- -->
        <!-- ------- Propre au site -------- -->
        <!-- ------------------------------- -->
        <link rel="stylesheet" href="{{ asset('css/base.html.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/global/taaable.css') }}" />
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-principale-top" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href={{ path('aaaccueil') }}>AAAccueil</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-principale-top">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">AAAnonces <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="text-center"><a href="{{ path('annonce_nouveau') }}" class="btn btn-default">Créer</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="text-center"><a href="{{ path('annonce_liste') }}">Voir toutes</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">AAAplications <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {{ render(controller('AppBundle:Application:navbar')) }}
                            <li role="separator" class="divider"></li>
                            <li class="text-center"><a href="{{ path('application_nouveau') }}" class="btn btn-default">Ajouter une entrée</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="text-center"><a href="{{ path('application_liste') }}">Voir toutes</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projets <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="text-center"><a href="#">T</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="text-center"><a href="#">O</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="text-center"><a href="#">D</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="text-center"><a href="#">O</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Monitoring <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="text-center"><a href="#">T</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="text-center"><a href="#">O</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="text-center"><a href="#">D</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="text-center"><a href="#">O</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- form login -->
                {% if app.session.get('estConnecte') %}
                    {% set utilisateur = app.session.get('utilisateur') %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="text-center"><a href="{{ path('evenement_nouveau') }}" class="btn btn-default">Proposer</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="text-center"><a href="{{ path('evenement_liste') }}">Planning</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-bell"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {{ render(controller('AppBundle:Notification:navbar')) }}
                                <li class="text-center"><a href="{{ path('notification_nouveau') }}" class="btn btn-default">Créer</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="text-center"><a href="{{ path('notification_liste') }}">Voir toutes</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <!-- TODO : Remplacer le glyphicon-user par l'avatar, si disponible -->
                                <span class="glyphicon glyphicon-user"></span> {{ utilisateur.pseudo }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="text-center"><a href="#">Profil</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="text-center"><a href="#">Préférences</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="navbar-btn text-center"><a href="{{ path('logout') }}" class="btn btn-default">Déconnexion</a></li>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <form class="navbar-form navbar-right" method="post" action="{{ path('login') }}">
                        <div class="form-group">
                            <input type="text" class="form-control" name="login" placeholder="Identifiant ou e-mail">
                            <input type="password" class="form-control" name="mdp" placeholder="Mot de passe">
                        </div>
                        <button type="submit" class="btn btn-default">Se connecter</button>
                    </form>
                {% endif %}
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div id="aaa-alert-messages" class="col-md-12">
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>
<!-- Navbar pied de page -->
<footer>
    <nav class="navbar navbar-inverse navbar-fixed-bottom" id="aaa-navbar-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-bottom" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-bottom">
                <ul class="nav navbar-nav">
                    <li><a href={{ path('a_propos') }}>À propos</a></li>
                    <li><a href={{ path('equipe') }}>L'équipe</a></li>
                    <li><a href={{ path('plan_du_site') }}>Plan du site</a></li>
                    <li><a target="_blank" href="https://github.com/AAAsso/aaaccueil">Dépôt Git <span class="glyphicon glyphicon-link"></span></a></li>
                    <li><a target="_blank" href="https://github.com/AAAsso/aaaccueil/issues/new">Rapporter un bug <span class="glyphicon glyphicon-link"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</footer>
</html>
