{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/index/index.html.css') }}" />{% endblock %}

{% block body %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/" class="active">AAAccueil</a></li>
        </ol>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Annonces administration</h3>
            </div>
            <div class="panel-body">
                <div id="aaa-annonces">
                    {% for annonce in annonces %}
                        {% if (app.session.get('estConnecte') or annonce.estPublic) %}
                            <div class="aaa-annonce">
                                <h4>{{ annonce.titre }} <a href="" data-toggle="modal" data-target="#modal-annonce-{{ annonce.slug }}"><span class="glyphicon glyphicon-info-sign"></span></a></h4>
                                <small>Le {{ annonce.datePublication|date('d F Y - H:i') }} par {{ annonce.createur.pseudo }}</small>
                                <p>{{ annonce.contenu }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">État des services</h3>
            </div>
            <div class="panel-body">
                <span class="glyphicon glyphicon-warning-sign"></span> Work in progress
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Calendrier</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <span class="glyphicon glyphicon-warning-sign"></span> Work in progress
                </div>
                <div class="col-md-6">
                    <h2>Événements ÀAA venir</h2>
                    <div id="aaa-evenements-a-venir">
                        {% if (evenements_tries == null) %}
                            <h3>Nous sommes désolé.e.s, rien ne semble prévu pour l'instant.</h3>
                        {% endif %}
                        {% for date, evenements in evenements_tries %}
                            <h3>
                                {% if ("now"|date("l d F Y") == date|date("l d F Y")) %}
                                    Aujourd'hui
                                {% else %}
                                    {% if ("now"|date("Y") == date|date("Y")) %}
                                        {{ date|date("l d F") }}
                                    {% else %}
                                        {{ date|date("l d F Y") }}
                                    {% endif %}
                                {% endif %}
                            </h3>
                            {% for evenement in evenements %}
                                {% if (app.session.get('estConnecte') or evenement.estPublic) %}
                                    <p>
                                        {{ evenement.label }}
                                        <a href="" data-toggle="modal" data-target="#modal-evenement-{{ evenement.slug }}">
                                            <span class="glyphicon glyphicon-info-sign"></span>
                                        </a>
                                    </p>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="aaa-annonces-modals">
        {% for annonce in annonces %}
            <div class="modal fade" id="modal-annonce-{{ annonce.slug }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{{ annonce.titre }}</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{ annonce.contenu }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            {% if (app.session.get('estConnecte')) %}
                                <a class="btn btn-primary" href="{{ path('annonce_editer', { 'slug': annonce.slug }) }}">Éditer l'annonce</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="aaa-evenements-modals">
        {% for evenement in evenements %}
            <div class="modal fade" id="modal-evenement-{{ evenement.slug }}" tabindex="-1" role="dialog" aria-labelledby="{{ evenement.label }}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{{ evenement.label }}</h4>
                        </div>
                        <div class="modal-body">
                            {{ evenement.description }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            {% if (app.session.get('estConnecte')) %}
                                <a class="btn btn-primary" href="{{ path('evenement_editer', { 'slug': evenement.slug }) }}">Éditer l'événement</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
