{% extends 'base.html.twig' %}

{% block title %}{{ annonce.titre }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/">AAAccueil</a></li>
            <li><a href="{{ path('annonce_liste') }}">Annonces</a></li>
            <li class="active">{{ annonce.titre }}</li>
        </ol>

        <h1>Annonce</h1>

        <dl class="dl-horizontal">
            <dt>ID</dt>
            <dd>{{ annonce.id }}</dd>
            <dt>Slug</dt>
            <dd>{{ annonce.slug }}</dd>
            <dt>A été créé le</dt>
            <dd>{% if annonce.dateCreation %}{{ annonce.dateCreation|localizeddate('none', 'none', 'fr_FR', null, 'd LLLL Y à H:mm') }}{% endif %}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Titre</dt>
            <dd>{{ annonce.titre }}</dd>
            <dt>Auteur</dt>
            <dd>{{ annonce.createur.pseudo }}</dd>
            <dt>Sera publiée le</dt>
            <dd>{% if annonce.datePublication %}{{ annonce.datePublication|localizeddate('none', 'none', 'fr_FR', null, 'd LLLL Y à H:mm') }}{% endif %}</dd>
            <dt>Contenu</dt>
            <dd>{{ annonce.contenu }}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Visibilité</dt>
            <dd>{% if annonce.estPublic %}Publique{% else %}Privée{% endif %}</dd>
        </dl>
    </div>
    <div class="col-md-6">
        <button class="btn btn-danger" data-toggle="modal" data-target="#modal-{{ annonce.slug }}"><span class="glyphicon glyphicon-trash"></span> Supprimer l'annonce</button>
    </div>
    <div class="col-md-6 text-right">
        <a href="{{ path('annonce_editer', { 'slug': annonce.slug }) }}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Éditer l'annonce</a>
    </div>

    <div id="modal-confirmation-suppression">
        <div id="modal-{{ annonce.slug }}" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Voulez-vous supprimer l'annonce {{ annonce.titre }} ?</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer text-left">
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-chevron-left"></span> Annuler</button>
                            </div>
                            <div class="col-md-6 text-right">
                                {{ form_start(form_supprimer) }}
                                    <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-trash"></span> Confirmer la suppression</button>
                                {{ form_end(form_supprimer) }}
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
{% endblock %}
