{% extends 'base.html.twig' %}

{% block title %}{{ notification.titre }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/">AAAccueil</a></li>
            <li><a href="{{ path('notification_liste') }}">Notifications</a></li>
            <li class="active">{{ notification.titre }}</li>
        </ol>

        <h1>Éditer la notification</h1>
    </div>

    <div class="col-md-12">
        {{ form_start(form_editer, {'attr': {'id': 'form_editer_notification'}}) }}
        {{ form_widget(form_editer) }}
        <div class="form-group">
            <label for="icon-picker">Îcone</label>
            <button id="icon-picker" class="btn btn-default" role="iconpicker" 
                data-iconset="glyphicon" data-icon="glyphicon-tag" 
                data-search="true" data-search-text="Rechercher..." 
                data-footer="false" data-rows="3" data-cols= "5">                    
            </button>  
        </div>
        {{ form_end(form_editer) }}
    </div>

    <div class="col-md-6">
        <button class="btn btn-danger" data-toggle="modal" data-target="#modal-{{ notification.slug }}"><span class="glyphicon glyphicon-trash"></span> Supprimer la notification</button>
    </div>
    <div class="col-md-6 text-right">
        <a href="{{ path('notification_liste') }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Annuler les modifications</a>
        <button class="btn btn-primary" form="form_editer_notification"><span class="glyphicon glyphicon-ok"></span> Enregistrer les modifications</button>
    </div>

    <div id="modal-confirmation-suppression">
        <div id="modal-{{ notification.slug }}" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Voulez-vous supprimer la notification {{ notification.titre }} ?</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer text-left">
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-chevron-left"></span> Annuler</button>
                            </div>
                            <div class="col-md-6 text-right">
                                {{ form_start(form_supprimer) }}
                                <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-trash"></span> Confirmer la suppression</button>
                                {{ form_end(form_supprimer) }}
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        // Initialisation de l'iconpicker
        $('#icon-picker').iconpicker();
        // On sélectionne l'icone qui est déjà associé à la notification.
        $('#icon-picker').iconpicker('setIcon', $('#appbundle_notification_icone').val());
        // Lorsque l'icone change on enregistre la valeur dans le champ caché "icone".
        $('#icon-picker').on('change', function(e){
            $('#appbundle_notification_icone').val(e.icon);
        });
    </script>
{% endblock %}