{% extends 'base.html.twig' %}

{% block title %}Nouvelle notification{% endblock %}

{% block body %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/">AAAccueil</a></li>
            <li><a href="{{ path('notification_liste') }}">Notifications</a></li>
            <li class="active">Créer une nouvelle notification</li>
        </ol>

        <h1>Créer une nouvelle notification</h1>
    </div>

    <div class="col-md-12">
        {{ form_start(form, {'attr': {'id': 'form_creer_notification'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

    <div class="col-md-6"></div>
    <div class="col-md-6 text-right">
        <a href="{{ path('notification_liste') }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Annuler</a>
        <button class="btn btn-primary" form="form_creer_notification"><span class="glyphicon glyphicon-ok"></span> Créer la notification</button>
    </div>
{% endblock %}
