    {% extends 'base.html.twig' %}

    {% block body %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/">AAAccueil</a></li>
            <li><a href="{{ path('service_liste') }}">Services</a></li>
            <li class="active">{{ service.id }} TODO: modifier "id"</li>
        </ol>

        <h1>Éditer le/la/l'service TODO</h1>
    </div>
    <div class="col-md-12">
        {{ form_start(form_editer, {'attr': {'id': 'form_editer_service'}}) }}
        {{ form_widget(form_editer) }}
        {{ form_end(form_editer) }}
    </div>
        <div class="col-md-6">
    <button class="btn btn-danger" data-toggle="modal" data-target="#modal-service-id"><span class="glyphicon glyphicon-trash"></span> Supprimer le service TODO : vérifier (le/la/l')</button>
</div><div class="col-md-6 text-right">
    <a href="{{ path('service_liste') }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Annuler les modifications</a>
    <button class="btn btn-primary" form="form_editer_service"><span class="glyphicon glyphicon-ok"></span> Enregistrer les modifications</button>
</div><div id="modal-confirmation-suppression">
    <div id="modal-service-id" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Voulez-vous supprimer le service TODO: ajouter label ?</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-left">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-chevron-left"></span> Annuler</button>
                        </div>
                        <div class="col-md-6 text-right">
                            {{ form_start(form_supprimer) }}
                            <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-trash"></span> Confirmer la suppression</button>
                            {{ form_end(form_supprimer) }}
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>{% endblock %}
